html
{
	background-color: #333;
	font-family: sans, sans-serif;
	font-size: 20px;
	overflow-y: scroll;
	/*text-align: center;*/
}
a
{
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

a:visited
{
	color: #333;
}

a:hover
{
	color: #FFF;
	text-decoration: underline;
}

#title
{
	background-color: #C00;
	text-align: center;
	padding: 8px 8px;
	margin: 28px auto;
	width: 66.7%;
	min-width: 448px;
	border: 1px solid black;
}

h1
{
	font-size: 48px;
	text-align: center;
	color: #FFFFFF;
}

#navigation
{
	background-color: #a096cc;
	text-align: center;
	font-size: 32px;
	list-style-type: none;
	list-style-position: inside;
	margin: 8px auto;
	padding: 13px 0px;
	width: 40%;
	min-width: 320px;
	border: 1px solid black;
}

#navigation li
{
	display: inline;
	margin: 0px 3.33%;
}

#synopsis
{
	background-color: #0059FF;
	color: #000000;
	width: 66.6%;
	height: 448px;
	margin: 46px auto;
	padding: 16px;
	min-width: 448px;
	border: 1px solid black;
}

.step
{
	width: 66.6%;
	/*height: 448px;*/
	margin: 46px auto;
	padding: 16px;
	min-width: 448px;
	border: 1px solid black;
}

h2
{
	color: #FFF;
	font-size: 32px;
	margin: 0px 0px 16px 0px;
	text-align: center;
}

#synopsis div
{
	display: inline;
	float: left;
	border: 1px solid black;
}

#toc
{
	background-color: #555;
	color: #FFFFFF;
	width: 20%;
	height: 386px;
	margin: 0px 5%;
	min-width: 128px;
	text-align: center;
	border: 1px solid black;
}

h3
{
	font-size: 24px;
	margin: 16px 0px;
	text-align: center;
}

#toc ul
{
	background-color: #AAA;
	font-size: 24px;
	list-style-type: none;
	list-style-position: inside;
	margin: 0px 10%;
	padding: 4px 0px;
	min-width: 32px;
	border: 1px solid black;
}

#toc ul li
{
	margin: 2px 0px;
}

#synopsis div.description
{
	background-color: #a096cc;
	width: 50%;
	/*height: 386px;*/
	margin: 0px 5%;
	border: 1px solid black;
}

#synopsis div.about
{
	background-color: #a096cc;
	width: 90%;
	margin: 0px 5%;
	border: 1px solid black;
}

.content
{
	width: 100%;
	height: 90%;
	padding: 32px 0px;
}

.description *
{
	margin: 16px;
}

.about *
{
	margin: 16px;
}

.step div
{
	float: left;
	display: inline;
}

.step div.image
{
	background-color: #a096cc;
	width: 40%;
	font-size: 14px;
	border: 1px solid black;
}

img
{
	margin: 16px;
	border: 1px solid black;
}

.caption
{
	margin: 16px;
}

.step:nth-child(odd) div.content div.description
{
	background-color: #AAA;
	width: 40%;
	margin: 0px 5%;
	text-align: left;
	border: 1px solid black;
}

.step:nth-child(even) div.content div.description
{
	background-color: #AAA;
	width: 40%;
	margin: 0px 5%;
	text-align: left;
	border: 1px solid black;
}

.step
{
	background-color: #C00;
	text-align: center;
}

.step a
{
	color: #FFF;
	text-decoration: none;
}

.step a:visited
{
	color: #000;
}

.step a:hover
{
	color: #FFF;
	text-decoration: underline;
}

.step:nth-child(even)
{
	background-color: #0059FF;
}

#step3 .content .description, #step4 .content .description, #step7 .content .description, #step9 .content .description
{
	width: auto;
}

/*Media Queries*/
@media screen and (max-width: 950px)
{
	#synopsis
	{
		height: auto;
}	
	
	#synopsis div
	{
		float: none;
		display: block;
	}
	
	#toc
	{
		width: auto;
	}
	
	#synopsis div.description
	{
		width: auto;
	}
	
	#synopsis div.about
	{
		width: auto;
	}
}

/*This was acting really weird; the max-width was supposed to be 1500px, 
but for some reason it wasn't tripping until around 1300...?*/
@media screen and (max-width: 1674px)
{
	.step:nth-child(even) div.content div.description
	{
		float: none;
		width: auto;
	}
	
	.step:nth-child(odd) div.content div.description
	{
		float: none;
		width: auto;
	}
	
	.step div.image
	{
		width: auto;
	}
	
	.step div
	{
		float: none;
		display: block;
	}
}