body
{
	background-color: orange;
	font-family: sans, sans-serif;
}

h1
{
	color: #FFF;
	font-weight: bold;
	text-align: center;
}

h2
{
	font-weight: bold;
	text-decoration: underline;
}

a
{
	color: #FFF;
	text-decoration: none;
}

a:active
{
	color: #08F;
	text-decoration: underline;
}

a:visited
{
	color: #555;
}

a:hover
{
	color: #06C;
	text-decoration: underline;
}

.caption
{
	font-style: italic;
	font-size: 12px;
}

.imagebox
{
	float: right;
	margin: 16px;
}

#footer
{
	text-align: center;
	font-style: italic;
}